$black: #20272f;
$white: #e5e5e5;
$darken: #405165;

$red: #c35b53;
$brown: #654344;
$grey: #91969a;
$blue: #517194;
$green: #73a17b;
$yellow: #c0a36d;
$cd18: #b08169;
$class-colors: ("red", "cd2", "grey", "blue", "green", "yellow", "cd18");
$colors: ($red, $brown, $grey, $blue, $green, $yellow, $cd18);